html{
  margin-bottom: 0px;
}
.navbar{
 padding-left: 2rem;
}

.navbar > *, li {
  padding: 0 0.5rem;
}

.jumbotron-main{
 background-color: grey;
 color: white;
}

.carousel-item p{
  opacity: 0.8;
}

